.greeting {
    --font-size: 22px;

    text-align: center;
    height: calc(100vh - 70px);
    font-family: var(--font-dm);
    font-size: var(--font-size);
}

@media screen and (min-width: 768px) {
    .greeting {
        --font-size: 40px;
    }
}

@media screen and (min-width: 1100px) {
    .greeting {
        --font-size: 30px;
    }
}