.progressBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    background: #121212;
    transform-origin: 0%;
    z-index: 999;
}

@media screen and (min-width: 800px) {
    .progressBar {
        display: none;
    }

}