.section {
    margin: 50px 0;

}

.intro {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: var(--font-dm);
}

.greeting {
    --font-size: 25px;

    text-align: center;
    height: calc(100vh - 70px);
    font-family: var(--font-dm);
    font-size: var(--font-size);
}

.mission {
    display: flex;
    flex-direction: column-reverse;
}

.vision {
    display: flex;
    flex-direction: column;
}

:is(.vision, .mission) img {
    height: clamp(250px, 300px, 450px);
    border-radius: 12px;
    object-fit: cover;
}

:is(.vision, .mission, .ourTeam) {
    --font-large: 20px;
    --font-small: 16px;

    h2 {
        font-family: var(--font-dm);
        font-size: var(--font-large);
    }

    p{ font-size: var(--font-small); }
}

.ourTeam {
    width: 100%;
}

.teamMember {
    width: 100%;

    img {
        width: 100%;
    }
}



@media screen and (min-width: 768px) {
    .greeting {
        --font-size: 40px;
    }
}

@media screen and (min-width: 1100px) {
    .greeting {
        --font-size: 30px;
    }

    :is(.vision, .mission, .ourTeam) {
        --font-large: 35px;
        --font-small: 20px;

        div {
            padding: 0 2em;
        }
    }

    .ourTeam {
        display: grid;
        grid-template-columns: 80% 20%;
        padding: 0;
    }

    .teamMember {
        width: 90%;

        img { 
            width: 100%;
        }
    }

    .greeting h1 {
        padding: 0 30px;
    }

    .mission, .vision {
        place-items: center;
    }

    .mission {
        display: grid;
        grid-template-columns: 60% 40%;
        margin: 15px 0;
    }

    .vision {
        display: grid;
        grid-template-columns: 40% 60%;
    }

}