.projectsSection {
    padding: var(--padding-horizontal);
}

.projectsContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.project {
    position: relative;
    width: 100%;
    margin: 0 auto;
    aspect-ratio: 5/4;
    //height: 250px;
    font-family: var(--font-dm);
    transition: all 0.5s ease-in-out;
    box-sizing: border-box;
    border-radius: 12px;
}

.project div {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 12px 12px;
}

.project .hiddenContent {
    display: none;
}

.project img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 12px;
}

.project:hover {
    background-color: #121212;

    div {
        display: none;
    }
}

.project:hover .hiddenContent {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 70%;
    text-align: center;
}

.name {
    width: 100%;
    height: 50px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .projectsContainer {
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
    }

    .project {
        width: 90%;
    }
}